<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/toastr.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toastr.min.css') }}" />
    <title>{% block title %}{% endblock %} - Player</title>
    {% endblock %}
    <div id="base-topnav" class="topnav">
        <a href="{{ url_for('index') }}">Home</a>
        {% if g.logged_user %}
            <a href="{{ url_for('music_player') }}">Player de Música</a>
            <a href="{{ url_for('logout') }}">Logout</a>        
        {% else %}
            <a href="{{ url_for('register') }}">Registrar</a>
            <a href="{{ url_for('login') }}">Logar</a>
        {% endif %}
    </div>
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <footer class="custom-footer">
        <p>Company © Matheus Nunes. All rights reserved.</p>
        <img
            src="{{ url_for('static', filename='svg/Cc-by-nc_icon.svg') }}"
            alt="cc"/>
    </footer>
</body>
</html>

